fastapi
uvicorn
pydantic

# For Valuation
joblib==1.5.1
pandas
numpy
xgboost==3.0.2

# For Chatbot
langchain==0.1.14
langchain-community
transformers
torch  
sentence-transformers
faiss-cpu

# For Frontend
streamlit
requests
